<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UFT-8">
    <title>صفحه اصلی - آپلود تصویر</title>
    <style>
        body {font-family: Tahoma, sens sans-serif; background: #f4f4f9; text-align: center; padding: 50px; }
        .box {background: white; padding: 30px; border-radius: 10px;display: inline-block; box-shadow: 0 0 10px; rgba(0,0,0,0.1); }
        input {margin: 20px 0; display: block; margin-left: auto; margin-right: auto; }
        button {padding: 10px 20px; background: #28a745; color: white; border: none; cursor: pointer; border-radius: 5px; }
    </style>
</head>
<body>
    <div class="box">
        <h2>آپلود تصویر برای تشخیص چهره</h2>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*" required>
            <button type="submit">پردازش تصویر</button>

        </form>

    </div>

</body>
</html>
